{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'topbar.css' %}">
</head>
<body>
    <div class="topbar">
        <div class="logo"> <img class="logoImg" src="https://projectmanager4.s3.ap-northeast-2.amazonaws.com/logo_fix.svg" alt="로고"> </div>
        <div class="search_bar">
            <div class="search_text">
                <input type="text" placeholder="search">
            </div>
            <div class="search_btn">
                <img src="https://projectmanager4.s3.ap-northeast-2.amazonaws.com/search_parkmin.svg" alt="로고">
            </div>
        </div>
    </div>
</body>
</html>